body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-box-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

/* Styles pour les liens dans la barre de navigation en mode sombre */
.dark-mode .navbar-nav .nav-link {
  color: #fff;
}

/* Styles pour la barre de navigation */
.navbar .navbar-brand {
  font-size: 20px;
  color: #fff;
}

/* Styles pour les liens dans la barre de navigation en mode clair */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}


.page-title {
  text-transform: uppercase;
  font-size: 40px;
  color: #000000 !important;   
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.company-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.company-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.company-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.company-text {
  flex: 0 0 60%;
  text-align: left;
}

.company-text p {
  font-size: 18px;
  color: #000000 !important;   
  text-align: left;
  margin-bottom: 20px;
}

.company-text ul {
  text-align: left;
  list-style-type: disc;
  margin-left: 30px;
}

/* Styles pour les éléments de liste dans les conteneurs */
.company-text ul li {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

/* Styles pour les images dans les conteneurs */
.company-image {
  flex: 0 0 30%;
  text-align: right;
  margin-top: 60px;
  margin-right: 100px;
}

.company-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour le bouton "Direction blog" */
.btn-direction-blog {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

/* Styles pour le bouton "Direction blog" au survol de la souris */
.btn-direction-blog:hover {
  background-color: #222;
}

.navbar .navbar-brand {
  font-size: 20px;
}

.navbar.navbar {
  padding: 20px 40px;
  background: linear-gradient(90deg, #f7d7f9, #8f63c8, #a492d1, #3c287f);
  background-size: 200% 200%;
  font-size: 20px;
  margin-bottom: 65px;
  color: white !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container p {
  margin: 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

/* Effet de surbrillance pour les liens actifs */
.navbar-nav .nav-item .nav-link.active,
.navbar-brand:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  transition: background-color 0.3s, font-weight 0.3s; 
  font-weight: normal; 
}

/* Effet de surbrillance au survol de la souris */
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active:hover,
.navbar-brand:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: px;
  font-weight: bold;
  border-radius: 10px;
}

/* Styles pour le fond en mode sombre */
body.dark-mode {
  background-color: #000 !important;
}

/* Styles pour le bouton "Mode sombre" */
#dark-mode-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border-color: #ffffffe1;
  padding: 5px 10px;
}

/* Style pour le texte du bouton en mode sombre */
.dark-mode #dark-mode-toggle {
  color: #fff;
}

/* Style pour la bordure inférieure de la navbar en mode sombre */
.dark-mode .navbar.navbar {
  border-bottom: 1px solid #ffffff93;
}

/* Style pour la bordure supérieure de la navbar en mode sombre */
.dark-mode .navbar-brand {
  border-top: 1px solid #ffffff5d;
}

/* Styles pour le footer en mode sombre */
.dark-mode footer {
  background-color: #000;
  color: #fff;
  border-top: 1px solid #ffffff5d;
}

/* Styles pour le texte en mode sombre */
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode a,
.dark-mode li {
  color: #fff !important;
}

/* Styles pour les containers en mode sombre */
.dark-mode .company-container {
  background-color: #ffffff23;
  color: #fff!important;
  border: 1px solid #ffffff5d !important;
}

/* Style pour le trait en mode sombre */
.dark-mode .blog-post h2::before,
.dark-mode .person-container::after { /* Ajout de ::after pour cibler le trait dans les person-container */
  background-color: #fff !important;
}

/* Styles pour le texte en mode normal */
.navbar-nav .nav-link {
  color: #fff;
}

/* Styles pour le bouton "Direction blog" en mode sombre */
.dark-mode .btn-direction-blog {
  border: 1px solid #ffffff5d;
  color: #fff;
}

/* Style pour le trait en mode sombre */
.dark-mode .person-container h3::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  margin: 10px auto;
}
