body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbar {
  margin-bottom: 30px !important;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #000000 !important; 
  text-align: center;
  margin-top: 40px;
}

.person-container {
  text-align: left;
  padding: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.person-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 10px;
}

.person-container h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.person-container p {
  font-size: 18px;
  color: #000000 !important; 
}

.margin-top-0 {
  margin-top: 0;
}

/* Styles pour la police et la taille des caractères dans la barre de navigation */
.navbar .navbar-brand {
  font-size: 20px;
}

/* Styles pour les liens dans la barre de navigation en mode sombre */
.dark-mode .navbar-nav .nav-link {
  color: #fff;
}

/* Styles pour la barre de navigation en mode sombre */
.navbar .navbar-brand {
  font-size: 20px;
  color: #fff;
}

/* Styles pour les liens dans la barre de navigation en mode clair */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar.navbar {
  padding: 20px 40px;
  background: linear-gradient(90deg, #f7d7f9, #8f63c8, #a492d1, #3c287f);
  background-size: 200% 200%;
  font-size: 20px;
  margin-bottom: 65px;
  color: white !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container p {
  margin: 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

/* Effet de surbrillance pour les liens actifs */
.navbar-nav .nav-item .nav-link.active,
.navbar-brand:hover {
  background-color: #ffffff;
  color: #ffffff!important;
  border-radius: 5px;
  transition: background-color 0.3s, font-weight 0.3s; 
  font-weight: normal; 
}

/* Effet de surbrillance au survol de la souris */
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active:hover,
.navbar-brand:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: px;
  font-weight: bold;
  border-radius: 10px;
}

/* Styles pour le fond en mode sombre */
body.dark-mode {
  background-color: #000 !important;
}

/* Supprimez le fond et les marges du conteneur d'icône */
.mode-icon {
  background: none;
  margin: 0;
}

/* Styles pour les icônes de lune et de soleil */
.mode-icon img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: transparent; /* Ajout de cette propriété pour supprimer le fond blanc */
}

/* Style par défaut pour cacher l'icône du soleil */
.dark-mode .mode-icon #sunIcon {
  display: none;
}

/* Style pour la bordure inférieure de la navbar en mode sombre */
.dark-mode .navbar.navbar {
  border-bottom: 1px solid #ffffff93;
}

/* Styles pour le footer en mode sombre */
.dark-mode footer {
  background-color: #000;
  color: #fff;
  border-top: 1px solid #ffffff5d;
}

/* Styles pour le texte en mode sombre */
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode a,
.dark-mode li {
  color: #fff !important;
}

/* Styles pour les containers en mode sombre */
.dark-mode .person-container {
  background-color: #ffffff23;
  color: #fff!important;
  border: 1px solid#ffffff5d !important;
}

/* Style pour le trait en mode sombre */
.dark-mode .blog-post h2::before,
.dark-mode .person-container::after { /* Ajout de ::after pour cibler le trait dans les person-container */
  background-color: #fff !important;
}

/* Styles pour le texte en mode normal */
.navbar-nav .nav-link {
  color: #fff;
}

/* Style pour le trait en mode sombre */
.dark-mode .person-container h3::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  margin: 10px auto;
}

/* Media query pour la réactivité */

/* Pour les écrans plus petits que 768px (par exemple, smartphones) */
@media screen and (max-width: 767px) {
  .container-first {
    top: 20%; /* Ajuster la position du conteneur principal pour les petits écrans */
  }

  h1 {
    font-size: 48px; /* Ajuster la taille du titre pour les petits écrans */
    margin-bottom: 20px; /* Ajuster la marge inférieure du titre pour les petits écrans */
  }

  .container-box {
    margin-bottom: 30px; /* Ajuster l'espacement entre les .container-box pour les petits écrans */
    flex-direction: column !important;
    align-items: center; /* Centrer les boutons horizontalement */
  }


  .person-container:last-child {
    margin-bottom: 50px;
  }

  .container-btns {
    align-items: center; /* Centrer les boutons horizontalement */
  }

  .btn-first {
    width: 100%; /* Ajuster la largeur des boutons pour les petits écrans */
    margin-bottom: 20px; /* Ajuster la marge inférieure des boutons pour les petits écrans */
  }

  /* le bouton "mode sombre" */
  #dark-mode-toggle {
    margin-right: 100px;
    margin-top: -1px;
    font-size: 14px;
    padding: 8px;
  }  
}

/* Pour les écrans plus grands que 767px (par exemple, tablettes et ordinateurs de bureau) */
  @media screen and (min-width: 768px) {
  .container-first {
    top: 30%; 
    }

    h1 {
    font-size: 110px; 
    margin-bottom: 50px; 
    }

  .btn-first {
    width: 200px; 
    margin-bottom: 50px; 
    }
  }