/* Réinitialisation des styles pour tous les éléments */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  /* Crée un dégradé de couleurs en arrière-plan */
  background: linear-gradient(90deg, #f7d7f9, #8f63c8, #3c287f, #a492d1, #f7d7f9); 
  background-size: 200% 200%;
  /* Applique une animation pour créer un effet de vent sur le dégradé */
  animation: windEffect 10s linear infinite; 
  overflow-x: hidden;
}

/* Animation pour l'effet de vent */
@keyframes windEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Styles pour la vidéo d'arrière-plan */
.video-bg {
  position: fixed;
  top: 35%;
  left: 66%;
  width: 45%; 
  height: 45%; 
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.8;
}

/* Styles pour le conteneur principal */
.container-first {
  position: absolute;
  top: 30%;
  left: 5%;
  text-align: left; 
  margin-top: 200px;
  margin-left: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 110px;
  color: #f1f1f1;
  font-family: "Abril Fatface", sans-serif;
}

h1 span {
  position: relative;
}

/* Styles pour les boutons */
.container-btns {
  position: relative;
  top: 50px;
}

.btn-first {
  border: 2px solid #f1f1f1;
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: #f1f1f1;
  cursor: pointer;
}

/* Styles pour les différents boutons (peut être utilisé pour styliser plusieurs boutons) */
.btn-first:nth-child(1) {
  margin-right: 30px;
}

.btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: #f1f1f1;
  color: #333;
}

/* Styles pour les lignes décoratives */
.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}

.l1 {
  width: 250px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
}

.l2 {
  width: 140px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

/* Styles pour le logo */
.logo {
  position: absolute;
  right: 2.9%;
  top: 4%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* Styles pour les icônes des médias sociaux */
.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles pour les bulles des médias sociaux */
.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
  display: flex;
}

/* Styles pour les logos des médias sociaux */
.logo-medias {
  width: 40px;
  height: 40px;
}

/* Media queries pour la réactivité */

/* Pour les écrans plus petits que 768px (par exemple, smartphones) */
@media screen and (max-width: 1000px) {
  .container-first {
    top: 22%;
  }
  
  h1 {
    margin-top: -30px;
    font-size: 45px; 
  }
    
  .lignes {
    top: 2%;
  }
  
  .logo {
    top: 2%;
  }

  .container-btns {
    flex-direction: column; 
    align-items: center; 
  }
  .btn-first {
    width: 170px; 
    font-size: 24px; 
    padding: 12px; 
    margin-top: 20px; 
  }

  /* Styles pour les icônes des médias sociaux */
.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 40%; /* Ajustez cette valeur pour remonter les bulles */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  }
